<div class="card bg-dark mb-3">
  <div class="card-header text-light">Filtros</div>

  <div class="card-body">
    <form [formGroup]="filterForm" (ngSubmit)="filterSubmit()">
      <div class="form-floating mb-3">
        <input
          id="titulo"
          class="form-control"
          type="text"
          placeholder="Título"
          formControlName="title"
        />
        <label for="titulo">Título</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="de"
          class="form-control"
          type="number"
          placeholder="De"
          formControlName="from"
        />
        <label for="de">De</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="ate"
          class="form-control"
          type="number"
          placeholder="Até"
          formControlName="to"
        />
        <label for="ate">Até</label>
      </div>

      <div class="d-flex justify-content-start">
        <button class="btn btn-warning w-100" type="submit">Filtrar</button>
      </div>
    </form>
  </div>
</div>
