<div
  class="d-flex flex-column flex-md-row align-items-center px-2 pt-2 pb-3 border-bottom bg-dark"
>
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <app-header></app-header>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-light text-decoration-none" href="#">Sobre</a>
    <a class="me-3 py-2 text-light text-decoration-none" href="#">Produtos</a>
    <a class="me-3 py-2 text-light text-decoration-none" href="#">Suporte</a>
  </nav>

  <a class="btn btn-outline-warning" href="#">Sign up</a>
</div>
